/*注册登陆类样式 begin:07.6.26;author:sunny*/
*{padding:0;margin:0}
img{border:0}
body{font-family: "宋体", Arial, Helvetica, sans-serif; padding:0 8px 0 10px; width:985px; margin:auto; font-size:12px; background:#fff; color:#414141}
input{vertical-align: middle; font-size:12px}
a:link { color:#0041D3; text-decoration:none}
a:visited{color:#0041D3; text-decoration:none}
a:hover{ color:#ff7000; text-decoration:underline}
a:active{ color:#bc2931; text-decoration:underline}
.t1 a:link,.t1 a:visited{ color:#0041D3; text-decoration:underline}
.t1 a:hover{ color:#ff7000; text-decoration:underline}
.t1 a:active{ color:#bc2931; text-decoration:underline}

.red_bold{ color:#ff0000; font-weight:bold}
.red{ color:#ff0000}
.price_old{ text-decoration:line-through}
.button_1{ width:80px; height:22px; padding-top:2px}
.login_top{ width:982px; height:43px; padding:10px 0 7px 0; border-bottom:solid 3px #f27b21; margin:auto}
.login_top .logo{ float:left}
.login_top .new_help{ float:right; padding-top:28px; color:#9b9b9b}
.login_step{ height:30px; font-size:14px; text-align:center; padding-top:30px}
.login_step .step{ float:left; padding-top:5px; width:830px}/*07.8.7new*/
.login_step .email_help{ float:right; width:120px; height:16px; background:url(../images/label_what.gif) no-repeat left top; padding-left:16px; padding-top:5px; text-align:right; font-size:12px}/*07.8.7new*/
.fill_message{ width:758px; padding-bottom:35px; margin:auto}
.fill_message h2{ font-size:14px;color:#ff0000; padding-bottom:10px}
.fill_message .tab_login{ width:758px; border-collapse:collapse;}
.fill_message .tab_login td{ padding:15px 5px 13px 5px; border:solid 1px #dadada}
.fill_message .tab_login .w1{ width:160px; padding-right:0; text-align:right; font-size:14px; background-color:#e8fbff}
.fill_message .tab_login .change_c{ background-color:#ffece8}

.fill_message .tab_login .text_input{ width:170px; height:17px; padding:3px 2px 0 1px; border:solid 1px #a8a6ab; margin-left:20px; float:left}/*07.8.7modify*/
.fill_message .tab_login .yzm_img{ width:100px; height:30px; float:left; margin-left:20px}
.fill_message .tab_login .yzm_input{ width:54px; height:17px; padding:3px 2px 0 1px; border:solid 1px #a8a6ab; margin-left:15px; float:left}/*07.8.7modify*/
.fill_message .tab_login .text_left{ float:left; padding-left:20px;word-break:break-all;}
.fill_message .tab_login .change_red{ color:#ff0000}
.fill_message .tab_login .text_left p{ padding-top:3px;word-break:break-all;}
.fill_message .agree{ width:450px; height:38px; padding-left:280px; padding-top:30px}
.fill_message .agree input{ width:20px; height:20px; float:left}
.fill_message .agree span{ width:400px; padding-left:7px; padding-top:5px; float:left}
.fill_message .login_in{ padding-left:282px; height:30px}

.validate_email{ width:780px; padding-bottom:50px; padding-top:10px; margin:auto}
.validate_addtop{ padding-top:35px}
.validate_email h2{ font-size:14px; padding-bottom:7px}
.validate_email h3{ font-size:14px; padding-bottom:7px; padding-left:140px}
.validate_email .look_email{ height:190px; border-top:solid 1px #bfbfbf; padding:40px 0 0 140px; font-size:14px; background:url(../images/email.jpg) no-repeat 7px 55px}
.validate_email .look_email h4{ font-size:14px}
.validate_email .look_email .mess{padding:18px 0 5px 0; height:26px}
.validate_email .look_email .reduce_h{ height:40px}
.validate_email .look_email .mess .write_in{ float:left; padding-top:3px}
.validate_email .look_email .mess .yzm_text{ width:82px; height:16px; border:solid 1px #a6a6a8; padding:3px 0 0 1px; float:left}/*07.8.7modify*/
.validate_email .look_email .mess .finsh{ width:78px; height:22px; font-size:14px; padding-top:1px; margin-left:5px; float:left}
.validate_email .look_email .mess .no_right{ width:140px; height:20px; padding:3px 0 0 22px; margin-left:10px; color:#ff0000; background:url(../images/label1.gif) no-repeat left 3px; float:left}
.validate_email .look_email .add_b{ padding-bottom:35px}
.validate_email .not_receive{height:255px; border-top:solid 1px #bfbfbf; padding:30px 0 0 140px}
.validate_email .del_t{ border-top:none; padding-top:20px}
.validate_email .e_modify{ height:36px; font-size:14px}
.validate_email .newadd_text{ padding-bottom:20px; line-height:18px; font-size:12px}/*07.7.3*/
.validate_email .e_modify .t_span{ float:left; padding-top:3px}
.validate_email .e_modify .text_e{ float:left; width:174px; height:16px; border:solid 1px #a6a6a8; padding:3px 0 0 1px;}/*07.8.7modify*/
.validate_email .e_modify .text_b{ float:left;width:70px; height:22px; font-size:14px; padding-top:1px; margin-left:10px; float:left}
.validate_email .notice_1{ width:392px; height:35px; border:solid 1px #00be00; padding:7px 5px 0 38px; line-height:16px; background:url(../images/label2.gif) no-repeat 8px 6px #e7ffe7}
.validate_email .notice_2{ width:397px; height:18px; color:#fa0404; border:solid 1px #ff5700; margin-top:15px; padding:7px 0 0 38px; background:url(../images/label1.gif) no-repeat 8px 6px #ffede3}
.validate_email .e_back{ height:20px; padding-top:20px; font-size:14px}
.validate_success{ width:350px; margin:auto; margin-top:50px; margin-bottom:50px; padding:6px; border:solid 1px #499f3c; background-color:#e8ffe3}
.validate_success h4{ font-size:14px; height:23px; padding-top:12px; padding-left:35px; border-bottom:dashed 1px #879e82; background:url(../images/label3.gif) no-repeat left 5px}
.validate_success h5{ font-size:12px; font-weight:normal; padding-top:15px; padding-left:35px}
.validate_success ul{ padding:10px 0 0 35px; list-style:none; line-height:18px}
.validate_success ul li{ background:url(../images/bj_d_black.gif) no-repeat 3px 7px; padding-left:12px}
.validate_success ul .no_bj{ background:none; padding-left:0}
.validate_fail{ width:205px; height:45px; padding:25px 0 0 110px; margin:auto; margin-top:50px; margin-bottom:50px; border:solid 1px #968e8c; background:url(../images/label4.gif) no-repeat 80px 20px #ffece8; font-size:14px; font-weight:bold; color:#fa0404}

.login_success{ width:489px; margin:auto; margin-top:15px; margin-bottom:20px; padding-bottom:9px; background:url(../images/login_bj1.gif) no-repeat bottom}
.login_success .login_bj{ background:url(../images/login_bj2.gif) repeat-y; padding:6px 10px}
.login_success .login_bj .succ{ height:35px; padding-left:35px; border-bottom:dashed 1px #879e82; background:url(../images/label3.gif) no-repeat left top}
.login_success .login_bj h5{ font-size:14px; height:25px; padding:12px 0 0 35px}
.login_success .login_bj h6{ font-size:12px; font-weight:normal; padding-bottom:15px; padding-left:35px}
.login_success .login_bj ul{ padding-left:35px; list-style:none; line-height:18px}
.login_success .login_bj ul li{ background:url(../images/bj_d_black.gif) no-repeat 3px 7px; display:block; padding-left:12px}
.login_success .login_bj ul .nobj{ background:none; padding-left:0; border-bottom:solid 1px #e4f8e3}
.skim{ width:932px; margin:auto; margin-bottom:10px; background-color:#eaeaea; padding:12px 25px 0 25px}
.skim h2{ font-size:14px}
.skim .merch{ padding-left:62px}
.skim .merch .m_list{ width:112px; height:187px; padding:12px 60px 13px 0; float:left}
.skim .merch .m_list img{  border:solid 1px #b3b3b3}
.skim .merch .m_list h6{ font-size:12px; font-weight:normal; line-height:16px; padding-top:8px;height:32px}
.skim .merch .m_list p{ padding-top:4px}
.skim .merch .empty_box{ clear:left}
/*******登录部分的样式********/
.enter_part{ width:760px; height:360px; padding-top:15px; padding-bottom:45px; margin:auto}
.enter_part .introduce{ width:430px; height:180px; margin-top:65px; float:left} /* 2007-08-14修改登陆branding width 由410 改为 430*/
.enter_part .introduce img{ margin-bottom:10px}
.enter_part .introduce ul{ list-style:none; line-height:18px; border-top:solid 1px #bab9b9; padding:10px 0 0 2px} /* 2007-08-14修改登陆branding width406 去掉*/
.enter_part .introduce ul li{ background:url(../images/bj_d_black.gif) no-repeat left 7px; padding-left:12px}
.enter_part .introduce ul .bj_none{ background:none; padding-bottom:15px; color:#757575}
.enter_part .enter_in{ width:279px; height:340px; background:url(../images/bj_enter_bottom.gif) no-repeat bottom; float:right}
.enter_part .enter_in .bj_top{ width:279px; height:8px; background:url(../images/bj_enter_top.gif) no-repeat; overflow:hidden}
.enter_part .enter_in .center{ width:275px; height:324px; margin:auto; border-left:solid 1px #7a7977; border-right:solid 1px #7a7977; background-color:#f9f9f9}
.enter_part .enter_in .center .notice{ height:30px; padding:12px 0 0 55px; font-size:12px; font-weight:bold; color:#fa0404; background:url(../images/label1.gif) no-repeat 35px 10px}
.enter_part .enter_in .center .change{ color:#f3781d; background:url(../images/label1_2.gif) no-repeat 35px 10px}
.main{ width:250px; height:205px; margin-left:15px; border-top:dashed 1px #afaba8;border-bottom:dashed 1px #afaba8}
.main_change{ height:215px; padding-top:25px; border-top:none}
.main h3{ font-size:14px; height:40px; padding-top:18px}
.main ul{ list-style:none}
.main ul li{ height:25px; padding-bottom:5px}
.main ul li span{ float:left; padding-top:5px}
.main ul li .blank{ padding-left:66px}
.main ul li .textbox{ float:left; width:129px; height:17px; border:solid 1px #a5acb2; padding:3px 0 0 1px}/*07.8.7modify*/
.main ul li .checkbox{ float:left; margin-left:100px; margin-right:5px; width:20px; height:20px}
.main ul li .button_enter{ float:left; width:75px; height:22px; font-weight:bold; margin:0 5px 0 100px; padding-top:2px}
.user_new{ width:245px; height:53px; padding:15px 0 0 15px; font-size:14px; font-weight:bold}
.user_new .set_up{ padding-top:18px; font-size:12px; text-align:right}


/*****************注册登录帮助部分begin:07.8.3********************/
.empty_box_both{ clear:both; height:1px; overflow:hidden}
.login_help{ width:982px; height:28px; padding-top:18px; border-bottom:solid 1px #c2d2e2}
.help_content{ width:952px; padding:15px}
.help_content .content_l{ width:450px; height:80px; padding:110px 0 0 25px; float:left}
.help_content .content_l .label{ width:13px; height:13px; overflow:hidden; background-color:#5882b1; margin-right:5px; float:left}
.help_content .content_l p{ font-size:14px; font-weight:bold}
.help_content .content_l2{ padding-top:60px; width:470px; float:left}
.help_content .change_h1{ padding-top:30px}
.help_content .change_h2{ padding-top:50px}
.help_content .change_h3{ padding-top:5px}
.help_content .content_l2 .number{ width:30px; height:90px; padding-right:10px; float:left}
.help_content .content_l2 .add_n_h{ height:260px}
.help_content .content_l2 .p_content{ font-size:14px;font-weight:bold; line-height:20px}
.help_content .content_l2 .change_content{ line-height:15px}
.help_content .content_l2 .title_p{ font-size:12px; color:#FF3300; font-weight:normal; padding-top:5px}
.help_content .content_l2 .content_p{ font-size:12px; font-weight:normal}
.help_content .c_yellow{ color:#0041d5; font-weight:normal}
.help_content .c_red{ color:#e60011; font-weight:normal}
.help_content .p_add_top{ padding-top:6px}
.help_content .content_r{ width:457px; float:right}
.question_answer_outside{ width:982px; padding:35px 0 70px 0; margin-top:15px; border-top:solid 1px #c2d2e2}
.question_answer{ width:851px; margin:auto; background:url(../images/answer_bottom.gif) no-repeat bottom; padding-bottom:7px}
.question_answer .answer_title{ height:26px; background:url(../images/answer_top_c.gif) repeat-x}
.question_answer .answer_title .t_l_bj{ width:7px; height:26px; float:left;background:url(../images/answer_top_l.gif) no-repeat}
.question_answer .answer_title h2{ float:left; padding:7px 0 0 8px; font-size:14px; font-weight:normal}
.question_answer .answer_title .bold{ font-weight:bold}
.question_answer .answer_title .t_r_bj{ width:5px; height:26px; float:right;background:url(../images/answer_top_r.gif) no-repeat}
.question_answer .answer_c{ width:803px; margin-left:1px; border-left:solid 1px #7ca2c4; border-right:solid 1px #7ca2c4; padding:15px 15px 0 30px}
.question_answer .answer_c h3{ height:22px; background:url(../images/label_q.gif) no-repeat left top; padding-left:18px; font-size:14px}
.question_answer .q_answer{ padding:0 0 15px 18px; background:url(../images/label_a.gif) no-repeat left top; font-size:14px}
.question_answer .q_answer p{ padding-bottom:8px}


.email_explain{ padding:28px 125px 15px 145px; width:712px; background-color:#f1f8ff}
.email_explain h2{ height:20px; background:url(../images/label_q2.gif) no-repeat left top; font-size:14px; padding-left:20px}
.email_explain .explain_a{ padding:8px 0 20px 20px; line-height:20px}
.email_explain ul{ padding-left:40px; padding-top:5px; list-style-type:square}
.email_explain .c_yellow{ color:#0041d5}

.order_step{width:960px; margin:auto; height:40px; font-size:14px; text-align:center; padding-top:20px}